<div class="running-line__container">
  <div class="running-line">
    <span class="running-line__item">Дело помощи утопающим — дело рук самих утопающих!</span>
    <img src="../assets/images/ellipse.svg" alt="ellipse" class="running-line__ellipse" />
    <span class="running-line__item">Шахматы двигают вперёд не только культуру, но и экономику!</span>
    <img src="../assets/images/ellipse.svg" alt="ellipse" class="running-line__ellipse" />
    <span class="running-line__item">Лёд тронулся, господа присяжные заседатели!</span>
    <img src="../assets/images/ellipse.svg" alt="ellipse" class="running-line__ellipse" />
  </div>
</div>
